body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #f7fafc;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
}

.game-container {
    max-width: 448px; 
    width: 110%;
    padding: 1.5rem;
    background-color: white;
    border-radius: 0.75rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.05);
}

/*Heading*/
.app-title {
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    color: #2d3748;
    margin-bottom: 1.5rem;
    letter-spacing: 0.25em;
}

/* Status D*/
.status-display {
    font-size: 1.25rem; 
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
    height: 2rem;
    color: #4a5568;
}

/*resetgomb*/
.reset-btn {
    margin-top: 2rem;
    width: 100%;
    background-color: #2563eb;
    color:#eb2525; 
}