body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #f7fafc;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
}

.game-container {
    max-width: 448px; 
    width: 110%;
    padding: 1.5rem;
    background-color: white;
    border-radius: 0.75rem;
    letter-spacing: -0.025em;
}

